@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800&subset=latin-ext');

/* Basic style */

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('../fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
  url('../fonts/raleway-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/raleway-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
  url('../fonts/raleway-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: raleway, Tahoma, Arial, sans-serif;
}

.main_width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
  z-index: 1;
}

button {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: #24ba9f;
}

button:hover {
  box-shadow: 0 0 30px grey ;
}

/* Header style */

header {
  display: flex;
  justify-content: center;
  align-content: space-between;
  width: 100%;
  background-color: black;
  height: 41px;
  color: white;
  text-transform: uppercase;
}

.main_navigation > ul {
  display: flex;
  padding-right: 12px;
  padding-top: 5px;
}

.nav_list li {
  list-style: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .05em;
  padding-left: 45px;
}

.brand_name {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .05em;
  padding-top: 4px;
}

.text_strong {
  color: #27c7ab;
  font-weight: 800;
}

.first_menu {
  position: relative;
  width: auto;
}

.submenu {
  padding-top: 10px;
  position: absolute;
  top: 38px;
  left: 29px;
  background-color: black;
  height: 96px;
  width: 120px;
  text-transform: none;
  z-index: 2;
  visibility: hidden;
  transition: 100ms;
}

.submenu::before {
  content: '';
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: black;
  position: absolute;
  top: -6px;
  left: 37%;
  z-index: -1;
}

.submenu > li {
  list-style: none;
  line-height: 27px;
  padding-left: 13px;
  text-align: left;
  font-weight: 600;
}

/* Section 1 - Slider - style style */

.section.slider {
  height: 505px;
  background: rgb(201,201,201);
  background: -moz-linear-gradient(0deg, rgba(201,201,201,1) 5%, rgba(211,211,211,1) 14%, rgba(243,243,243,1) 38%, rgba(255,254,254,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(201,201,201,1) 5%, rgba(211,211,211,1) 14%, rgba(243,243,243,1) 38%, rgba(255,254,254,1) 100%);
  background: linear-gradient(0deg, rgba(201,201,201,1) 5%, rgba(211,211,211,1) 14%, rgba(243,243,243,1) 38%, rgba(255,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9c9c9",endColorstr="#fffefe",GradientType=1);
}

.nav_button {
  font-size: 80px;
  font-weight: 300;
  color: #24ba9f;
  padding: 0 5px;
}

.nav_button:hover {
  text-shadow: 0 0 7px #000000;
}

.main_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 414px;
}

.main_photo img {
  padding-top: 55px;
  width: 470px;
  display: none;
}

.main_photo .visible{
  display: inline-block;
}

.chair_description {
  padding: 27px 91px 15px 18px;
  font-size: 15px;
  text-align: center;
}

.chair_description h1 {
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.015em;
}

.chair_description p {
  line-height: 1.5em;
  text-align: center;
  padding: 30px 0;
}

.view_more {
  border-radius: 10px;
  width: 262px;
  height: 50px;
  font-size: 24px;
}

.button_right {
  margin-right: 9px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/* Section 2 - Gallery - style */

.section.gallery {
  height: 350px;
}

.gallery .main_width {
  align-items: flex-start;
  padding-right: 28px;
  margin-top: 25px;
}

.gallery_photo {
  width: 330px;
  height: 225px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.gallery_photo.one {
  background-image: url("../images/box1_img.jpg");
}

.gallery_photo.two {
  background-image: url("../images/box2_img.jpg");
}

.description {
  width: 340px;
  height: 255px;
  border: gainsboro solid 1px;
  padding: 15px 20px 30px 21px;
}

.description > .box_text {
  margin: 0;
  padding-left: 0;
  height: 54px;
}

.description p {
  font-size: 14px;
  line-height: 20px;
  color: gray;
}

.box_text {
  background-color: rgba(255, 255, 255, .5);
  padding-top: 12px;
  width: 100%;
  height: 60px;
  margin-bottom: 13px;
  padding-left: 14px;
  font-weight: 600;
  font-size: 1em;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.box_text::after {
  content: '';
  width: 139px;
  height: 6px;
  background-color: #27c7ab;
  display: block;
  margin-top: 2px;
}

/* Section 3 - Price list - style */

.section.price_list {
  height: 725px;
  background-color: #f1f1f1;
}

.all_plans {
  width: 100%;
}

.price_list .main_width {
  align-items: flex-start;
  padding-top: 45px;
  padding-right: 26px;
}

.plan_container {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.title_price {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: .07em;
}

.title_price:after {
  content: '';
  margin-top: 5px;
  width: 320px;
  height: 8px;
  background-color: #27c7ab;
  display: block;
}

.plan {
  padding-top: 28px;
  height: 500px;
  width: 328px;
  margin: 75px 2px;
  border: gainsboro solid 2px;
  background-color: #f9f9f9;
  text-align: center;
  position: relative;
  font-size: 22px;
}

.circle {
  position: absolute;
  left: 50%;
  top: -38px;
  width: 56px;
  height: 56px;
  padding: 25px;
  background-color: white;
  border: gainsboro solid 2px;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, 0);
  box-sizing: border-box;
}

.circle::after {
  content: "";
  display: block;
  background-color: #c2c2c2;
  position: absolute;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  top: 13px;
  left: 13px;
}

.plan_ver {
  color: #27c7ab;
}

.price {
  color: #c2c2c2;
  font-size: 45px;
  font-weight: 700;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: gainsboro solid 2px;
  line-height: 28px;
  padding-top: 21px;
  background-color: white;
  position: absolute;
  top: 80px;
  left: 50%;
  text-indent: 6px;
  transform: translate(-50%, 0);
  box-sizing: border-box;
}

.sup {
  font-size: 15px;
  vertical-align: 26px;
}

.currency_time {
  color: #c2c2c2;
  font-size: 16px;
  margin-top: 0;
}

.plan_items {
  position: absolute;
  width: 100%;
  top: 244px;
}

table {
  border-collapse: collapse;
}

.plan_items td {
  height: 44px;
}

tr {
  color: #8f8f8f;
  letter-spacing: .05em;
}

tr:nth-child(odd) {
  background-color: #e4e4e4;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

.join_button {
  position: absolute;
  left: 50%;
  bottom: 18px;
  width: 122px;
  height: 34px;
  border-radius: 10px;
  letter-spacing: .05em;
  transform: translate(-50%, 0);
}

.price_list > .price {
  text-indent: 12px;
}

.plan.marked {
  border: #27c7ab solid 2px;
  background-color: #27c7ab;
}

.circle.marked {
  background-color: #27c7ab;
  border: #27c7ab solid 2px;
}

.circle.marked::after {
  background-color: white;
}

.price.marked {
  color: #27c7ab;
  border: #27c7ab solid 2px;
}

.currency_time.marked {
  color: #27c7ab;
}

.join_button.marked {
  color: #27c7ab;
  background-color: white;
}

.marked tr:nth-child(even) {
  background-color: #f1f1f1;
}

.marked tr:nth-child(odd) {
  background-color: white;
}

.plan_ver.marked {
  color: white;
}

/* Section 4 - chair calculator */

.application {
  background-color: #f9f9f9;
  padding:30px 0;
}
.application h3 {
  color: #575757;
  font-size: 18px;
}

.application header.align_right{
  text-align: right;
}

.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
  box-sizing: initial;
}

.form_calculator {
  margin-top:50px;
}

.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

.checkbox_calculator {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox_calculator input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox_calculator label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox_calculator label::before, .checkbox_calculator label::after {
  border: #a6e3d3 solid 1px;;
  content: "";
  display: block;
  left: 0;
  height: 46px;
  position: absolute;
  width: 48px;
  top: 0;
  transition: 0.5s;
}

.checkbox_calculator label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox_calculator input:checked + label::after {
  display: block;
}

.checkbox_calculator input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 3px #27c7ab;
}

.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;
}

.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}

.image_part img{
  margin-left: 38px;
}

.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;
}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}

.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}

.sum_label {
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  top: 54px;
  display: none;
}

.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}

.align_right {
  text-align: right;
}



/* Section 5 - Contact - style */

.section.contact {
  height: 550px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.contact_form {
  display: flex;
  justify-content: space-around;
}

.form {
  display: flex;
}

.contact_header {
  color: black;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: normal;
}

.contact_header::after {
  content: '';
  width: 320px;
  height: 8px;
  background-color: #27c7ab;
  display: block;
  margin-top: 4px;
  margin-bottom: 45px;
}

.form_left {
  padding-top: 18px;
  height: 520px;
  padding-left: 9px;
}

.contact_form input:not(.checkbox),
.contact_form textarea {
  width: 632px;
  border: 1px solid #a6e3d3;
  font-size: 34px;
  color: #bcbcbc;
  height: 66px;
  margin-bottom: 26px;
  text-indent: 12px;
  letter-spacing: -.04em;
  resize: none;
  outline: none;
  transition: 0.5s;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  box-shadow: 0 0 3px #27c7ab;
}

.form-group textarea {
  height: 188px;
  padding-top: 10px;
}

.form_right {
  padding-top: 72px;
  margin-left: 23px;
}

.red_chair {
  padding-left: 54px;
  margin-bottom: 28px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  height: 46px;
  width: 46px;
  border: #a6e3d3 solid 1px;
  left: -61px;
  top: -3px;
  transition: 0.5s;
}

.checkbox label::after {
  content: "";
  background: url("../images/form_ok.jpg") no-repeat;
  background-size: contain;
  width: 42px;
  height: 40px;
  display: inline-block;
  top: 5px;
  left: -60px;
}

.checkbox label {
  position: relative;
  letter-spacing: -.015em;
  font-size: 20px;
  color: #bcbcbc;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
}

.checkbox input[type="checkbox"] + label::after {
  content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}

.checkbox input[type="checkbox"]:focus + label::before {
  box-shadow: 0 0 3px #27c7ab;
}

.checkbox {
  width: 310px;
  margin-left: 96px;
  padding-top: 5px;
  border-color: #a6e3d3;;
}

.form-group button {
  position: absolute;
  width: 343px;
  height: 72px;
  border-radius: 10px;
  left: 35px;
  top: 50px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-indent: 8px;
}

.form_button {
  position: relative;
}

/* Footer Style*/

footer {
  display: flex;
  justify-content: center;
  height: 110px;
  color: #969696;
}

.motto_likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-right: 12px;
}

.copyright {
  letter-spacing: 0.08em;
  font-size: 15px;
  padding-bottom: 22px;
}

.footer_motto {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .05em;
  margin-left: 64px
}

.like_us {
  padding-bottom: 9px;
}